$white: #ffffff;
$black: #000000;
$Nero: #222222;
$Matterhorn: #505050;
$PinkSwan: #B6B6B6;
$Nero1: #1C1C1C;
$SuvaGrey: #909090;
$BlueViolet: #7323F6;
$FrenchRose: #FC4C8A;
$Charcoal: #444444;
$Nero2: #1E1E1E;

$Eclipse: #3F3F3F;
$DarkGray: #ADADAD;
$Nero_1: #292929;


// FONT_FAMIY
$font_Poppins: "Poppins";
$font_sans: sans-serif;
$font_open_sans: 'Open Sans';
$font_SF_Pro_Display: "SF Pro Display";

.font14{
    font-size: 14px;
}